.container {
    display: flex;
    flex-direction: column;
  
    border: 3px solid steelblue;
    width: 600px;
     height: 50px;
    margin: 0px auto;
    margin-top: 20px;
    box-sizing: border-box;
   
}
h1{
    margin-top:15px;
    margin-left:170px;
}
#age1 {
    margin-left:20px;
}

.form-group {
    display: flex;
    margin-left: -10px;
    
}

.form-group5 {
    margin-bottom: 10px;
}
.form-group1 {
    display: flex;
    margin-left: px;
  
}

#firstName {
    width: 350px;
    margin-left:21px;
    border: 1.5px solid steelblue;
}

#lastName {
    width: 350px;
    margin-left: 22px;
    border: 1.5px solid steelblue;
}

#gender {
    width: 175px;
    margin-left: 45px;
    border: 1.5px solid steelblue;
}

#dateOfBirth {
    height : 30px;
    width: 175px;
    margin-left: 8px;
    border: 1.5px solid steelblue;
}

#age {
    width: 50px;
    margin-left:px;
    border: 1.5px solid steelblue;
}

#address {
    width: 350px;
    margin-left: 48px;
    border: 1.5px solid steelblue;
    margin-top: 20px;
}

#class {
    width: 175px;
    margin-top: 1px;
    margin-left: 68px;
    border: 1.5px solid steelblue;
}

.delete-button {
    width: 20%;
    padding: 8px;
    margin-bottom: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #D3D3D3;
    color: red;
    margin-left: 60px;
    margin-top: 30px;
}

.submit-button {
    width: 20%;
    padding: 8px;
    margin-bottom: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007FFF;
    color: black;
    margin-left: 220px;
    margin-top: 30px;
}

.cancel-button {
    width: 20%;
    padding: 8px;
    margin-bottom: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #D3D3D3;
    color: black;
    margin-right:60px;
    margin-left: 10px;
    margin-top: 30px;
}

.error-label {
    color: red;
    font-size: 12px;
    
}


#firstNameError{
    margin-left:155px;
    margin-top:px;
}
#lastNameError{
    margin-left:155px;
}
#ageError{
    margin-top:-10px;
   margin-left: 75px;;
}
#dateOfBirthError{
    margin-left:155px;
}
#genderError {
    margin-left: 155px;
}
label {
    margin-top: px;
    margin-left: 60px;
}
#ageLabel {
   
    color: blue; 
    font-size: 14px; 
    margin-left: 300px; 
}
#addressLabel {
    margin-top:1000px;
}
